// 这个文件仅仅是为了生成正确的color.less文件，需要color值不能重复。[出处](https://github.com/mzohaibqc/antd-theme-generator/issues/2)
@import "../node_modules/antd/lib/style/themes/default";

// -------- Colors -----------
@primary-color          : rgba(0,0,0,0);
@info-color             : rgba(0,0,1,0);
@success-color          : rgba(0,0,2,0);
@error-color            : rgba(0,0,3,0);
@highlight-color        : rgba(0,0,4,0);
@warning-color          : rgba(0,0,5,0);
@normal-color           : rgba(0,0,6,0);

// Background color for `<body>`
@body-background        : rgba(0,0,7,0);
// Base background color for most components
@component-background   : rgba(0,0,8,0);
@heading-color          : rgba(0,0,9,0);
@text-color             : rgba(0,0,10,0);
@text-color-secondary   : rgba(0,0,11,0);
@heading-color-dark     : rgba(0,0,12,0);
@text-color-dark        : rgba(0,0,13,0);
@text-color-secondary-dark: rgba(0,0,14,0);

@border-color-base      : rgba(0,0,15,0);  // base border outline a component
@border-color-split     : rgba(0,0,16,0);  // split border inside a component

@background-color-light : rgba(0,0,17,0);  // background of header and selected item
@background-color-base  : rgba(0,0,18,0);  // Default grey background color

@disabled-color         : rgba(0,0,19,0);
@disabled-color-dark    : rgba(0,0,20,0);

// Buttons
@btn-primary-color      : rgba(0,0,21,0);
@btn-default-bg         : rgba(0,0,22,0);

// Layout
@layout-body-background         : rgba(0,0,23,0);
@layout-header-background       : rgba(0,0,24,0);
@layout-trigger-color           : rgba(0,0,25,0);
// Layout light theme
@layout-sider-background-light  : rgba(0,0,26,0);
@layout-trigger-background-light: rgba(0,0,27,0);

// Input
@input-placeholder-color     : rgba(0,0,28,0);
@input-bg                    : rgba(0,0,29,0);

// Tooltip
@tooltip-color: rgba(0,0,30,0);
@tooltip-bg: rgba(0,0,31,0);

// Popover
@popover-bg: rgba(0,0,32,0);

// Modal
// --
@modal-mask-bg: rgba(0,0,33,0);
// Menu
@menu-dark-arrow-color: rgba(0,0,34,0);
@menu-dark-submenu-bg: rgba(0,0,35,0);
@menu-dark-submenu-bg: rgba(0,0,36,0);
//Table
@table-selected-row-bg: rgba(0,0,37,0);
@table-expanded-row-bg: rgba(0,0,38,0);

// BackTop
@back-top-color: rgba(0,0,39,0);

//Avatar
@avatar-bg: rgba(0,0,40,0);
@avatar-color: rgba(0,0,41,0);

//Slider
@slider-rail-background-color-hover:  rgba(0,0,42,0);